html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Mythoplastis - points
    meta(name='description', content='points to choose')
    meta(name='keywords', content='mythoplastis')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/demo.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/common.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/style4.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')
    script.
      function check() {
        var umb =  !{JSON.stringify(umb)};
        if umb = "1";
        alert ('umb');
      }
      window.onload = check;
  body
    br
    br
    br
    br
    br
    br
    .leftbar
    .container
      section.main
        ul.ch-grid
          li
            .ch-item.ch-img-1
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-1
                  .ch-info-back
                    h3 It's All Circles!
                    p
                      a(href='circles') Start Here!

          li
            .ch-item.ch-img-2
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-2
                  .ch-info-back
                    h3 You Need Books!
                    p
                      a(href='umbrella') Start Finding books!
          li
            .ch-item.ch-img-3
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-3
                  .ch-info-back
                    h3 Find the Umbrella!
                    p
                      a(href='umbrella') Start Here! 
          li
            .ch-item.ch-img-4
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-4
                  .ch-info-back
                    h3 It's all Green
                    p
                      a(href='umbrella') Find the Tree Logo!
          br
          li
            .ch-item.ch-img-4
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-4
                  .ch-info-back
                    h3 It's all Green
                    p
                      a(href='umbrella') Find the Tree Logo!
          li
            .ch-item.ch-img-5
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-5
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      a(href='umbrella') Find all the other points
          li
            .ch-item.ch-img-6
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-6
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      a(href='umbrella') Find all the other points
