html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Mythoplastis - points
    meta(name='description', content='points to choose')
    meta(name='keywords', content='mythoplastis')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/demo.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/common.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/style4.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')
    script.
      function check() {
        var umbrella = !{JSON.stringify(umbrella)};
          if (umbrella == true) {
              document.getElementById('umbmis').style.backgroundImage= "none";
              document.getElementById('umbmis2').style.backgroundImage= "url('libs/circle/images/right.jpg')";
              document.getElementById('info').style.display= "block";
              document.getElementById('umb').style.display= "none";
              document.getElementById('umb1').style.display= "none";
              document.getElementById('umb2').style.display= "none";            
            } 
        var circle = !{JSON.stringify(circle)};
          if (circle == true) {
              document.getElementById('circle1').style.backgroundImage= "none";
              document.getElementById('circle2').style.backgroundImage= "url('libs/circle/images/right.jpg')";
              document.getElementById('circle3').style.display= "none";
              document.getElementById('circle4').style.display= "none";
              document.getElementById('circle6').style.display= "none";
              document.getElementById('circle5').style.display= "block";
          };
        }
  body(onload= "check()")
    .break
    .leftbar
    .container
      section.main
        ul.ch-grid
          li
            .ch-item.ch-img-1#circle1
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-1#circle2
                  .ch-info-back
                    img#circle5(src="libs/Circle/images/circle-logo.png" style="margin-left: 7%; margin-top: 10%; display:none; opacity: 0.7;")
                    h3#circle3 It's All Circles!
                    p#circle4
                      a#circle6(href='circles') Start Here!

          li
            .ch-item.ch-img-2
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-2
                  .ch-info-back
                    h3 You Need Books!
                    p
                      a(href='books') Start Finding books!
          li
            .ch-item.ch-img-3#umbmis
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-3#umbmis2
                  .ch-info-back
                    img#info(src="libs/Circle/images/logo-umbrella.png" style="margin-left: 7%; margin-top: 10%; display:none; opacity: 0.7;")
                    h3#umb Find the Umbrella!
                    p#umb1
                      a#umb2(href='umbrella') Start Here! 
          li
            .ch-item.ch-img-4
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-4
                  .ch-info-back
                    h3 It's all Green
                    p
                      a(href='umbrella') Find the Tree Logo!
          br
          li
            .ch-item.ch-img-5
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-5
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      a(href='umbrella') Find all the other points
          li
            .ch-item.ch-img-6
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-6
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      a(href='umbrella') Find all the other points
      a(href="/logout") GET THE LOGO

    //- script.
    //-   function check() {
    //-     var umbrella = !{JSON.stringify(umbrella)};
    //-     if (umbrella="true") {
    //-       alert('umbrella');
    //-   }.style.display= "none";