html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Circle Hover Effects with CSS Transitions
    meta(name='description', content='Circle Hover Effects with CSS Transitions')
    meta(name='keywords', content='circle, border-radius, hover, css3, transition, image, thumbnail, effect, 3d')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/demo.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/common.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/style4.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')
    //if lte IE 8
      style
        .main{display:none;} .support-note .note-ie{display:block;}
  body
    br
    br
    br
    br
    br
    br
    
    .container
      section.main
        ul.ch-grid
          li
            .ch-item.ch-img-1
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-1
                  .ch-info-back
                    h3 It's All Circles!
                    p
                      | Start Here!

          li
            .ch-item.ch-img-2
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-2
                  .ch-info-back
                    h3 You Need Books!
                    p
                      | Start Finding books!
          li
            .ch-item.ch-img-3
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-3
                  .ch-info-back
                    h3 Find the Umbrella!
                    p
                      a(href='umbrella') Start Here! 
          li
            .ch-item.ch-img-4
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-4
                  .ch-info-back
                    h3 It's all Green
                    p
                      | Find the Tree Logo!
          br
          li
            .ch-item.ch-img-5
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-5
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      | Find all the other points
          li
            .ch-item.ch-img-6
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-6
                  .ch-info-back
                    h3 Unlock this point!
                    p
                      | Find all the other points
