html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='assets/css/magic.min.css')
    link(rel='stylesheet', href='assets/css/magic.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='libs/coffee/assets/style2.css')
    //- script(src='libs/flat/js/jquery-1.9.1.min.js')
    script(src='libs/flat/js/modernizr.js')
    link(rel='stylesheet', href='libs/coffee/assets/style.css')
    link(rel='stylesheet', href='assets/css/books.css')
    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')

  body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
      .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menuw', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Partners
                |                  
      h1#1.text-center.wowload.fadeInUp(style="margin-top: 8%; font-weight: bold; font-size: 38px;") So Tell Us Where is This Place is!
      h1#4.text-center.wowload.fadeInUp(style="margin-top: 0%; font-weight: bold; font-size: 38px;") -------------------------------------
      h4#2.text-center.wowload.fadeInUp(style="margin-top:8%; margin-bottom: 0.5%;") Knowing where this place is would be a great help for us. 
      h4#3.text-center.wowload.fadeInUp(style="margin-top:0%; margin-bottom: 0%;") We think that John's friend who he has met several times in Manchester is either study or work in this building.
      .col-md-4(style="margin-left: 33%; margin-top: 3%;")
          input#answer.form-control.input-md.wowload.fadeInUp(type='text', name='text', placeholder='Where John was when He Wrote These?', data-trigger='change', required='')
      button#show.btn.btn-success.loginButton.wowload.fadeInUp(type='submit', style="margin-left: 43%; margin-top: 3%; height: 35px; padding: 10px 20px 10px 20px;", onclick="showDiv()") Click To Start!

      h1#5.text-center.wowload.fadeInUp(style="display: none; margin-top: 8%; font-weight: bold; font-size: 38px;") Great Job!
      h4#7.text-center.wowload.fadeInUp(style="display: none; margin-top:8%; margin-bottom: 0.5%;") Now we have to know what people think about this place to send it to John 
      h4#8.text-center.wowload.fadeInUp(style="display: none; margin-top:0%; margin-bottom: 0%;") This gonna be very important for us!
      form#form.books.wowload.fadeInUp(method='POST', action='/Booksub', style=" margin-left:25%; margin-top: 5vh; display: none;")
            fieldset
                .form-group
                  input#radios-0(type='radio', name='radios', value='happy', checked='checked')
                  |      Seeing an old friend!
                  br
                  input#radios-1(type='radio', name='radios', value='indifference')
                  |      Hearing your facourite song!
                  br
                  input#radios-2(type='radio', name='radios', value='sad')
                  |      The line for the ride I am waiting for isn't too long but it's still long enough to have to wait a little bit!
                  br
                  input#radios-3(type='radio', name='radios', value='awful')
                  |      I asked for a tattoo of a "skull and crossbones" and instead got a tattoo of a "seagull and cellphones"!
                  br      
                  input#submit.book(type='submit', class="button", value="GET THE LOGO")

  script.
      function showDiv() { 
       if ($('#answer').val() == 'Beyer Building' || $('#answer').val() == 'beyer building' || $('#answer').val() == 'Beyer'  || $('#answer').val() == 'beyer'  ) {
          document.getElementById('1').style.display='none';
          document.getElementById('4').style.display='none';
          document.getElementById('2').style.display='none';
          document.getElementById('3').style.display='none';
          document.getElementById('answer').style.display='none';
          document.getElementById('show').style.display='none';
          document.getElementById('5').style.display='block';
          document.getElementById('7').style.display='block';
          document.getElementById('8').style.display='block';
          document.getElementById('form').style.display='block';
         } else {
          alert('wrong');
        }       
      }
  script.
    $('button.book').click( function() {
    $('form.books').submit();
    });
  script(src='libs/flat/js/jquery.js')
  script(src='libs/coffee/assets/wow/wow.min.js')
    // boostrap
  script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
    // jquery mobile
  script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
  script(src='libs/coffee/assets/respond/respond.js')
    // gallery
  script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
    // custom script
  script(src='libs/coffee/assets/script.js')
