html(lang='en')
  head
    title Mythoplastis-Flag Point
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='assets/css/circle2.css') 
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.js') 
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.css') 



  body#body
    #container
      h1#2(style="display:none; margin-left:26%;") WELL DONE! YOU FOUND THE LOGO!
      img#circle(src="libs/Circle/images/circle-logo.png" style="margin-left: 45%; margin-top: 25vh;")      
      h2#5(style="margin-left:23%; margin-top: 2%;") How do you feel when you see the university place or go into it? :)
      form#form.circle(method='POST', action='/Circlesub')
        fieldset
            .form-group
                input#radios-0(type='radio', name='radios', value='happy', checked='checked')
                |      Seeing an old friend!
                br
                input#radios-1(type='radio', name='radios', value='indifference')
                |      Hearing your facourite song!
                br
                input#radios-2(type='radio', name='radios', value='sad')
                |      The line for the ride I am waiting for isn't too long but it's still long enough to have to wait a little bit!
                br
                input#radios-3(type='radio', name='radios', value='awful')
                |      I asked for a tattoo of a "skull and crossbones" and instead got a tattoo of a "seagull and cellphones"!
                br
      input#submit.circ(type='submit', class="button", value="GET THE LOGO")
