html(lang='en')
  head
    title Mythoplastis-Flag Point
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='assets/css/flag.css')     
    script(type='text/javascript', src='libs/jquery-2.1.1/jquery-2.1.1.min.js')
  body
    .glitch
        span Here are some clues for you!
    .glitch(style="margin-top: 7%; font-size: 22px; margin-left: 10%;")
        span Name the place we have hide the logo!
    .glitch(style="margin-left: -80%; margin-top: -30%;")        
        span
          img#foot(src="libs/Circle/images/foot.png")
    .glitch(style="margin-left: -60%; margin-top: 30%;")        
        span
          img#bar(src="libs/Circle/images/bar.png")
    .glitch(style="margin-left: 60%; margin-top: 30%;")        
        span
          img#societies(src="libs/Circle/images/societies.png")
    .glitch(style="margin-left: 10%; margin-top: -30%;")        
        span
          img#biko(src="libs/Circle/images/biko.png")