html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='assets/css/magic.min.css')
    link(rel='stylesheet', href='assets/css/magic.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    script(src='libs/flat/js/modernizr.js')
    link(rel='stylesheet', href='libs/coffee/assets/style.css')
    link(rel='stylesheet', type='text/css', href='assets/css/circle2.css') 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.js') 
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.css') 

  body#body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
      .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menuw', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Partners
                |                  
      h1#5.text-center.wowload.fadeInUp(style="margin-top: 8%; font-weight: bold; font-size: 38px;") Putting Pieces Together!
      h4#7.text-center.wowload.fadeInUp(style="margin-top:1%; margin-bottom: 0.5%;") So Seems Like John Has Made These Puzzle Pieces. Though Not All of Them Are Useful.
      h4#8.text-center.wowload.fadeInUp(style="margin-top:1%; margin-bottom: 0.5%;") Look Through Pieces and See What You Will Come Up With.

      h1#1.text-center.wowload.fadeInUp(style="margin-top: 8%; font-weight: bold; font-size: 38px; display: none;") Brilliant!
      h4#2.text-center.wowload.fadeInUp(style="margin-top:1%; margin-bottom: 0.5%; display: none;") From what we have found John was not a big fan of this place
      h4#3.text-center.wowload.fadeInUp(style="margin-top:1%; margin-bottom: 0.5%; display: none;") We just want to know whether that is really the case or not.
      h4#30.text-center.wowload.fadeInUp(style="margin-top:1%; margin-bottom: 0.5%; display: none;")  if now it's a better place it's good if John won't remember bad things in it!
      h4#15.text-center.wowload.fadeInUp(style="margin-top:6%; margin-bottom: 0.5%; display: none;") How you feel about it?

    #container
      img#piece(src="libs/Circle/images/1.png")
      img#piece1(src="libs/Circle/images/4.png")
      img#piece2(src="libs/Circle/images/20.png")
      img#piece3(src="libs/Circle/images/piece4.png")
      img#piece4(src="libs/Circle/images/2.png")
      img#piece5(src="libs/Circle/images/piece4.png")
      img#piece6(src="libs/Circle/images/14.png")
      img#piece7(src="libs/Circle/images/piece2.png")
      img#piece8(src="libs/Circle/images/3.png")
      img#piece9(src="libs/Circle/images/15.png")
      img#piece10(src="libs/Circle/images/piece5.png")
      img#piece11(src="libs/Circle/images/13.png")
      img#piece12(src="libs/Circle/images/piece3.png")
      img#piece13(src="libs/Circle/images/5.png")
      img#piece14(src="libs/Circle/images/piece2.png")
      img#piece15(src="libs/Circle/images/12.png")
      img#piece16(src="libs/Circle/images/19-1.png")
      img#piece17(src="libs/Circle/images/piece5.png")
      img#piece18(src="libs/Circle/images/6.png")
      img#piece19(src="libs/Circle/images/piece3.png")
      img#piece23(src="libs/Circle/images/7.png")
      img#piece20(src="libs/Circle/images/11.png")
      img#piece21(src="libs/Circle/images/18.png")
      img#piece22(src="libs/Circle/images/piece1.png")
      img#piece24(src="libs/Circle/images/piece4.png")
      img#piece25(src="libs/Circle/images/10.png")
      img#piece26(src="libs/Circle/images/piece2.png")
      img#piece27(src="libs/Circle/images/17.png")
      img#piece28(src="libs/Circle/images/8.png")
      img#piece29(src="libs/Circle/images/piece5.png")
      img#piece30(src="libs/Circle/images/9.png")
      img#piece31(src="libs/Circle/images/piece4.png")
      img#piece32(src="libs/Circle/images/16.png")
      img#piece33(src="libs/Circle/images/piece4.png")
      img#piece34(src="libs/Circle/images/piece2.png")
      img#piece35(src="libs/Circle/images/piece3.png")
      img#piece36(src="libs/Circle/images/piece4.png")
      img#piece37(src="libs/Circle/images/piece1.png")
      img#piece38(src="libs/Circle/images/piece2.png")
    h4#10.text-center.wowload.fadeInUp(style="margin-top: 32%; font-weight: bold; margin-bottom: 0;") We found so many documents suggesting that John frequently visited a building close to the place in this puzzle!
    h4#11.text-center.wowload.fadeInUp(style="margin-top: 0%; font-weight: bold; margin-bottom: 0;") He seemed to be active member of the place and have done so many activities there!
    h4#12.text-center.wowload.fadeInUp(style="margin-top: 0%; font-weight: bold;") Help us find out where this place is.
    #help.help.animated.bounceInLeft

    .col-sm-4.text-center.wowload.fadeInUp(style="margin-left: 34%;")
        input#takeway.form-control.input-md(type='text', name='text', placeholder='Name the place', required='')
        button#click.btn.btn-success(type='submit', style="height: 35px; padding: 10px 20px 10px 20px; margin-top: 2vh; margin-left: 0%;", onclick="showDiv()") Check Your answer!


      form#form.circle(method='POST', action='/flagsub')
        fieldset#fir(style="display: none; font-weight: bold; font-size: 18px; margin-top:-5%;")
            .form-group
                input#radios-0(type='radio', name='radios', value='happy', checked='checked')
                |      Seeing an old friend!
                br
                input#radios-1(type='radio', name='radios', value='indifference')
                |      Hearing your facourite song!
                br
                input#radios-2(type='radio', name='radios', value='sad')
                |      The line for the ride I am waiting for isn't too long but it's still long enough to have to wait a little bit!
                br
                input#radios-3(type='radio', name='radios', value='awful')
                |      I asked for a tattoo of a "skull and crossbones" and instead got a tattoo of a "seagull and cellphones"!
                br
      input#submit.circ(type='submit', class="button", value="GET THE LOGO")
    button#sub.loginButton.btn.btn-success(type='submit', style="display: none; height: 35px; padding: 10px 20px 10px 20px; margin-top: 5vh; margin-left: 46%;", onclick="showDiv()") Send it to John
    input#final(name='final', type='text', value='final', style="display:none;")       



    script.
      
      $('#piece').draggable();
      $('#piece1').draggable();
      $('#piece2').draggable();
      $('#piece3').draggable();
      $('#piece4').draggable();
      $('#piece5').draggable();
      $('#piece6').draggable();
      $('#piece7').draggable();
      $('#piece8').draggable();
      $('#piece9').draggable();
      $('#piece10').draggable();
      $('#piece11').draggable();
      $('#piece12').draggable();
      $('#piece13').draggable(); 
      $('#piece14').draggable();
      $('#piece15').draggable();
      $('#piece16').draggable();
      $('#piece17').draggable();
      $('#piece18').draggable();
      $('#piece19').draggable();
      $('#piece20').draggable();    
      $('#piece21').draggable();    
      $('#piece22').draggable();    
      $('#piece23').draggable();        
      $('#piece24').draggable();        
      $('#piece25').draggable();        
      $('#piece26').draggable();        
      $('#piece27').draggable();        
      $('#piece28').draggable();        
      $('#piece29').draggable();        
      $('#piece30').draggable();      
      $('#piece31').draggable();        
      $('#piece32').draggable();          
      $('#piece33').draggable();    
      $('#piece34').draggable();    
      $('#piece35').draggable();        
      $('#piece36').draggable();        
      $('#piece37').draggable();        
      $('#piece38').draggable();        
      $('#piece39').draggable();        
      $('#piece40').draggable();        
      $('#piece41').draggable();        
      $('#piece42').draggable();      
      $('#piece43').draggable();        
      $('#piece44').draggable();        

    script.
      function showDiv() { 
       if ($('#takeway').val() == 'Student Union' || $('#takeway').val() == 'student union' || $('#takeway').val() == 'union' || $('#takeway').val() == 'Union' ) {
          document.getElementById('container').style.display='none';
          document.getElementById('takeway').style.display='none';
          document.getElementById('click').style.display='none';
          document.getElementById('10').style.display='none';
          document.getElementById('11').style.display='none';
          document.getElementById('12').style.display='none';
          document.getElementById('5').style.display='none';
          document.getElementById('7').style.display='none';
          document.getElementById('8').style.display='none';
          document.getElementById('1').style.display='block';
          document.getElementById('2').style.display='block';
          document.getElementById('3').style.display='block';
          document.getElementById('help').style.display='none';
          document.getElementById('fir').style.display='block';
          document.getElementById('15').style.display='block';
          document.getElementById('30').style.display='block';
          document.getElementById('sub').style.display='block';

          } else {
          alert('wrong');
        }       
      }     

    script.
      $('button.loginButton').click( function() {
      var x = $( "input:radio[name=radios]:checked" ).val();
      document.getElementById("final").value = x;
      $('form.circle').submit();
      });
      
    script(src='libs/coffee/assets/wow/wow.min.js')
      // boostrap
    script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
      // jquery mobile
    script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
    script(src='libs/coffee/assets/respond/respond.js')
      // gallery
    script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
      // custom script
    script(src='libs/coffee/assets/script.js')
