html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='libs/coffee/assets/style.css')
  body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
      .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menu', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Team
                |                  

    #home
      // Slider Starts
      .banner
        img.img-responsive(src='libs/coffee/images/back.jpg', alt='banner')
        |           
        .caption
          .caption-wrapper
            .caption-info
              //- i.fa.fa-coffee.fa-5x.animated.bounceInDown
              |               
              h1.animated.bounceInUp Mythoplastis
              |               
              p.animated.bounceInLeft Become a member of our group in Manchester and enjoy the various activities we provide. 
              |              
              a.explore.animated.bounceInDown(href='#menu')
                i.fa.fa-angle-down.fa-3xurl
    #menu.container.spacer.about
      h2.text-center.wowload.fadeInUp(style="margin-top: 2%; font-size: 30px; font-weight: 900; margin-bottom: 5%;") Carefully told and carefully heard, stories do have the potential to act as a bridge between engrained habits and new futures! (Eckstein, 2003)
      |   
      |   
      .row
        .col-sm-6.wowload.fadeInLeft
          h4
            i.fa.fa-pencil-square-o
            |  Register
          form.form-horizontal.registerForm(method='POST', action='/samples')
              fieldset(style="margin-left:-10%; border: 3px; border-right: 5px; border-color: black;")
                  .form-group
                    label.col-md-4.control-label(for='Full Name') Full Name
                    |   
                    |   
                    .col-md-7
                      input.form-control.input-md(id='Full Name', name='fullName', type='text', placeholder='Please enter your full name', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='Age') Your Age
                    |   
                    |   
                    .col-md-7
                      input#Age.form-control.input-md(name='age', type='text', placeholder='How old are you?', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='Postcode') Postcode
                    |   
                    |   
                    .col-md-7
                      input#Postcode.form-control.input-md(name='city', type='text', placeholder='Please enter a valid postcode', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='Job') Your Job
                    |   
                    |   
                    .col-md-7
                      input#Job.form-control.input-md(name='job', type='text', placeholder='What you do for living!?', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='Username') Username
                    |   
                    |   
                    .col-md-7
                      input#Username.form-control.input-md(name='username', type='text', placeholder='What do you want to be called here?', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='email') Your Email
                    |   
                    |   
                    .col-md-7
                      input#email.form-control.input-md(name='email', type='text', placeholder='Please enter a valid email address', required='')
                  // Password input
                  .form-group
                    label.col-md-4.control-label(for='password') Password
                    |   
                    .col-md-7
                      input#password.form-control.input-md(name='password', type='password', placeholder='choose a password', required='')

                  .form-group(style="margin-left: 37%;")
                      label.col-md-6.control-label(for='submit')
                        |   
                        .col-md-7
                          button#submit.btn.btn-success.registerButton(name='submit', style="height: 40px;") Submit


        .col-sm-6.wowload.fadeInRight
          h4
            i.fa.fa-sign-in
            |  Log in!
          form.form-horizontal.loginForm(method='POST', action='/logedin')
              fieldset
                  .form-group
                    label.col-md-4.control-label(for='textinput') Your Email:
                    |   
                    |   
                    .col-md-7
                      input.form-control.input-md(type='email', name='emaillog', placeholder='Email Address', data-trigger='change', required='')
                  // Text input
                  .form-group
                    label.col-md-4.control-label(for='passwordinput')  Your Password: 
                    |   
                    |   
                    .col-md-7
                      input#passwordlog.form-control.input-md(type='password', name='passwordlog', placeholder='Password', required='')
                  .form-group(style="margin-left: 37%;")
                      label.col-md-6.control-label(for='test')
                        |   
                        .col-md-6
                          button#submit.btn.btn-success.loginButton(type='submit', style="height: 40px;") Sign in
          |     
          p
            | By registering you are accepting the terms and condition. Please read them before joining. Our terms and conditions are not very long. it won't take you much time.
  

    #foods.clearfix.grid
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/1.jpg', alt='img01')
        |         
        figcaption
          h2 INTRO
          |             
          p
            | Get to know the main characters and the storyline
            br
            |             
            a(href='libs/coffee/images/portfolio/1.jpg', title='1', data-gallery='') View more
      |      
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/2.jpg', alt='img01')
        |         
        figcaption
          h2 Basics
          |             
          p
            | Want to know what you need to play this game?
            br
            |             
            a(href='libs/coffee/images/portfolio/2.jpg', title='1', data-gallery='') View more
      |      
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/3.jpg', alt='img01')
        |         
        figcaption
          h2 How to play
          |             
          p
            | Description
            br
            |             
            a(href='libs/coffee/images/portfolio/3.jpg', title='1', data-gallery='') View more
      |      
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/4.jpg', alt='img01')
        |         
        figcaption
          h2 Missions
          |             
          p
            | Description
            br
            |             
            a(href='libs/coffee/images/portfolio/4.jpg', title='1', data-gallery='') View more
      |      
      |      
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/5.jpg', alt='img01')
        |         
        figcaption
          h2 Storytelling
          |             
          p
            | Description
            br
            |             
            a(href='libs/coffee/images/portfolio/5.jpg', title='1', data-gallery='') View more
      |     
      figure.effect-oscar.wowload.fadeInUp
        img(src='libs/coffee/images/portfolio/6.jpg', alt='img01')
        |         
        figcaption
          h2 Socializing
          |             
          p
            | Description
            br
            |             
            a(href='libs/coffee/images/portfolio/6.jpg', title='1', data-gallery='') View more
    // works
    #partners.container.spacer
      h2.text-center.wowload.fadeInUp(style="font-size: 40px; font-weight: 900;") Who we are?
      p.text-center.wowload.fadeInLeft(style="font-size: 20px;") Mythoplastis is a game developed as part of a PhD project in the Planning Department of University of Manchester. 
      .row.grid.team.wowload.fadeInUpBig
        .col-sm-3.col-xs-6(style="margin-left: 13%;")
          figure.effect-chico
            img.img-responsive(src='libs/coffee/images/team/19.jpg', alt='img01')
            |         
            figcaption
              p
                b Moozhan Shakeri
                br
                | More details
        |     
        .col-sm-3.col-xs-6
          figure.effect-chico
            img(src='libs/coffee/images/team/17.jpg', alt='img01')
            |         
            figcaption
              p
                b Richard Kingston
                br
                | More details
        |     
        .col-sm-3.col-xs-6
          figure.effect-chico
            img(src='libs/coffee/images/team/18.jpg', alt='img01')
            |         
            figcaption
              p
                b Nuno Pinto
                br
                | More details

      // team
    // About Starts
    .highlight-info
      .overlay.spacer
        .container
          .row.text-center.wowload.fadeInDownBig
            .col-sm-3.col-xs-6
              i.fa.fa-facebook-square.fa-5x
              h4 
            | &#x9;
            .col-sm-3.col-xs-6
              i.fa.fa-instagram.fa-5x
              h4 
            | &#x9;
            .col-sm-3.col-xs-6
              i.fa.fa-twitter.fa-5x
              h4 
            | &#x9;
            .col-sm-3.col-xs-6
              i.fa.fa-envelope-o.fa-5x
              h4 
    // About Ends
    #contact.spacer
      // Contact Starts
      .container.contactform.center
        h2.text-center.wowload.fadeInUp Give Us Feedback!
        |   
        .row.wowload.fadeInLeftBig
          .col-sm-6.col-sm-offset-3.col-xs-12
            input(type='text', placeholder='Name')
            |         
            input(type='text', placeholder='Email')
            |         
            textarea(rows='5', placeholder='Your Message')
            |         
            button.btn.btn-primary
              i.fa.fa-paper-plane
              |  Send

    script(src='libs/coffee/assets/jquery.js')
    script.
      $('button.registerButton').click( function() {
      $('form.registerForm').submit();
      });
      $('button.loginButton').click( function() {
      $('form.loginForm').submit();
      });
    // wow script
    script(src='libs/coffee/assets/wow/wow.min.js')
    // boostrap
    script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
    // jquery mobile
    script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
    script(src='libs/coffee/assets/respond/respond.js')
    // gallery
    script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
    // custom script
    script(src='libs/coffee/assets/script.js')
