<!doctype html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Mythoplastis</title>
  <meta name="description" content="CUPS - Mythoplastis - A Planning Phd on puplic participation" />
  <meta name="keywords" content="cups, uom, university of manchester, planning, gaming, public participation">
  <meta property="og:title" content="">

  <link rel="stylesheet" type="text/css" href="libs/munter/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="libs/bootstrap-modal-master/css/bootstrap-modal-bs3patch.css">
  <link rel="stylesheet" type="text/css" href="libs/bootstrap-modal-master/css/bootstrap-modal.css">
  <link rel="stylesheet" href="libs/fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
  <link rel="stylesheet" href="libs/munter/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="libs/munter/css/style.css">
  <link rel="stylesheet" href="libs/munter/css/parsley.css">

  <link rel="stylesheet" href="assets/css/munter-modified.css"

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link rel="prefetch" href="libs/munter/images/zoom.png">



</head>
<body>


  <div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container"> 

      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav row">
          <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
          <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">JOIN US</span></a></li>
          <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">OVERVIEW</span></a></li>
          <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">ABOUT US</span></a></li>
          <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-heart"></span> <span class="text">OUR FRIENDS</span></a></li>
          <li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
        </ul>
        <div class="row">
          <div class="col-sm-2 active-menu"></div>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
  <!-- === Arrows === -->
  <div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
  </div>

  <br>
  <br>
  <!-- === MAIN Background === -->
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-semibold"></h1>
          <h4 class="font-thin"> <span class="font-semibold"></span></h4>
          <br>
          <br>
        </div>
    </div>
      <div id="home-row-2" class="row clearfix">
        <br></br>
        <br></br>
        <br></br>
        <br></br>
      </div>
    </div>
  </div>>

  <!-- === Slide 1 ===-->
  <div>
  </div> 

  <!-- === Slide 2 ===-->
  <div class="slide story" id="slide-2" data-slide="2"> <!--name="slide2" > -->
   <div class="container">
      <div class="row title-row">
        <div class="col-12 font-title">“Carefully told and carefully heard,stories do have the potential to act as a bridge between engrained habits and new futures.”</div>
      </div>
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div>
      <br><br> 
 
      <div class="row">
        <div class="col-lg-12">
          <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form method="POST" action="/samples" class="registerForm">
                      <h2>Start Exploring Here! </h2>
                          <hr class="colorgraph">
                       <h4> I am 
                       <input type="text" name="fullName" id="fullName" class="input-lg " placeholder="your full name" data-required="true">and I am 
                       <input type="text" name="age" id="age" class="input-lg" placeholder="age"> years old. I live in 
                       <input type="text" name="city" id="city" class="input-lg" placeholder="Your City"> and am currently working as a 
                       <input type="text" name="job" class="input-lg" placeholder="Your Job">. I have read all the <a href="#terms" data-toggle="modal">Terms and Conditions</a> and I want to join Mythoplastis as 
                       <input type="text" name="username" class="input-lg " placeholder="prefered username" data-required="true">. I want my password to be<input type="password" name="password" class="input-lg" placeholder="Password">. By the way here is my email if you want to contact me: <input type="email" name="email" class="input-lg " placeholder="your email" data-required="true">
                       <button type="submit" class="registerButton btn btn-primary">Sign in</button>
                       </h4>
                        </form>

                      </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>

<!--==Login==-->
<!--<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
          <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form method="POST" action="/portfolio" class="loginForm">
                      <h2>Login! </h2>
                          <hr class="colorgraph">
                       <input type="email" name="emaillog" class="input-lg " placeholder="your email" data-required="true">
                       <input type="password" name="passwordlog" class="input-lg" placeholder="Password">
                        <button type="submit" class="loginButton btn btn-primary">Sign in</button>

                          </form>

                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!--==Signing in Form
      <div class="row">
        <div class="col-lg-12">
          <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form method="POST" action="/samples">
                        <fieldset>
                          <h2>Write Your Letter and Send It To US </h2>
                          <hr class="colorgraph">
                          <div class="form-group">
                          <h4> I am <input type="text" name="fullName" class="input-lg " placeholder="your full name" data-required="true">and I am <input type="number" name="age" class="input-lg" placeholder="age"> years old. I live in <input type="text" name="city" class="input-lg" placeholder="Your City"> and am currently working as a <input type="text" name="job" class="input-lg" placeholder="Your Job">. I have read all the <a href="#terms" data-toggle="modal">Terms and Conditions</a> and I want to join Mythoplastis as <input type="text" name="username" class="input-lg " placeholder="prefered username" data-required="true">. I want my password to be<input type="password" name="password" class="input-lg" placeholder="Password">. By the way here is my email if you want to contact me: <input type="email" name="email" class="input-lg " placeholder="your email" data-required="true"></h4>
                          </div>
                          <hr class="colorgraph">
                              <input type="submit">
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
==-->
      <!--== Terms and Condition Modal==-->
      <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-">


          <div class="modal-content">
            <div class="modal-header">
              <h2>Terms and Conditions</h2>
            </div>
            <div class="modal-body">
              <p> You can submit your material in any format you want; being photo, video, text and sound.</p>
              <p>You have the option to allow others to download your submitted material, modify it and create a new material. In creating your input also you can ask others for visual helps and collaborate with them in creating the material.</p>
              <p>The materials you submit will be visible to public as long as the website is running. You can delete your entries at any time but if you have allowed others to download your material and modify it, their entry will not be affected by you deleting your entry.</p>
              <p> All the submitted materials will be reviewed by website administrators and admins have all the right to remove any material which they find offensive in any terms or inappropriate. </p>
              <p> You can also report any abuse of your submitted material. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div><!-- /slide2 -->
<!-- === Slide 3 - Portfolio -->
  <div class="slide story" id="slide-3" data-slide="3">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p01-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p01-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p02-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p02-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p09-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p09-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p010-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p10-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p05-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p05-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p06-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p06-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p07-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p07-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p08-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p08-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p03-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p03-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p04-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p04-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p11-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p11-small.jpg" alt=""></a></div>
      <div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="libs/munter/images/portfolio/p12-large.jpg"><img class="thumb" src="libs/munter/images/portfolio/p12-small.jpg" alt=""></a></div>
    </div><!-- /row -->
  </div><!-- /slide3 -->
  <!-- === Slide 4 - Process === -->
  <div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-semibold">Who We Are and What We Do</div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Mythoplastis is a tool developed as part of a PhD project in the Planning Department of University of Manchester.Our aims are: </div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-user"></i></p>
          <h2 class="font-thin">Listening to<br><span class="font-semibold">Your Stories</span></h2>

        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-list-alt"></i></p>
          <h2 class="font-thin">Sharing<br><span class="font-semibold">Your Stories</span></h2>

        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-cloud"></i></p>
          <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>

        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-map-marker"></i></p>
          <h2 class="font-thin">Locating<br><span class="font-semibold">Your Favourite Places</span></h2>

        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-gift"></i></p>
          <h2 class="font-thin">Sharing<br><span class="font-semibold">ideas</span></h2>

        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Here is our team:</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-4 col-sm-4">
          <p><img src="assets/img/richard.jpg"></p>
          <h2 class="font-thin">Richard Kingston</h2>
        </div><!-- /col12 -->

        <div class="col-4 col-sm-4">
          <p><img src="assets/img/moozhan.jpg"></p>
          <h2 class="font-thin">Moozhan Shakeri</h2>
        </div><!-- /col12 -->

        <div class="col-4 col-sm-4">
          <p><img src="assets/img/nuno.jpg"></p>
          <h2 class="font-thin">Nuno Pinto</h2>
        </div><!-- /col12 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide4 -->
  </div>

  <!-- === Slide 6 / Contact === -->
  <div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">Leave us a message</div>
      </div><!-- /row -->
      <div class="row line-row">
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-12 col-sm-12 font-light">You can find us literally anywhere, just push a button and we’re there</div>

      </div><!-- /row -->
      <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
          <span class="hover-text font-light ">xxxxxxxxxxxx</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
          <span class="hover-text font-light ">Moozhan.Shakeri@manchester.ac.uk</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
          <span class="hover-text font-light ">Manchester, England<br>xxxxxxxx</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
          <span class="hover-text font-light ">facebook/Mythoplastis</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
          <span class="hover-text font-light ">@Mythoplastis</span></a>
        </div><!-- /col12 -->

      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /Slide 6 -->

  <!-- SCRIPTS -->
  <script src="libs/munter/js/html5shiv.js"></script>
  <script src="libs/munter/js/jquery-1.10.2.min.js"></script>
  <script src="libs/munter/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="libs/munter/js/bootstrap.min.js"></script>
  <script src="libs/bootstrap-modal-master/js/bootstrap-modalmanager.js"></script>
  <script src="libs/bootstrap-modal-master/js/bootstrap-modal.js"></script>
  <script src="libs/munter/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="libs/fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
  <script src="libs/munter/js/script.js"></script>
  <script src="assets/js/jquery-1.7.1.min.js"></script>
  <script src="assets/js/jquery.validate.min.js"></script>
  <script src="assets/js/jquery.parsley.js"></script>
  <script src="assets/js/jquery.parsley.extend.min.js"></script>
  <script src="assets/js/jquery.parsley-standalone.min.js"></script>
  <!-- fancybox init -->
  
  <script>
      $('button.registerButton').click( function() {
        $('form.registerForm').submit();
    });
    $('button.loginButton').click( function() {
        $('form.loginForm').submit();
    });
</script>

  <script>
    $(document).ready(function (e) {
      var lis = $('.nav > li');
      menu_focus(lis[0], 1);

      $(".fancybox").fancybox({
        padding: 10,
        helpers: {
          overlay: {
            locked: false
          }
        }
      });

    });
  </script>

</body>
</html>