html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Home | Flat Theme
    link(href='/libs/flat/css/bootstrap.min.css', rel='stylesheet')
    link(href='/libs/flat/css/font-awesome.min.css', rel='stylesheet')
    link(href='/assets/css/intro.css', rel='stylesheet')
    link(href='/libs/flat/css/font2.css', rel='stylesheet')      
    script(src='js/html5shiv.js')
    script(src='js/respond.min.js')
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    script(src='libs/flat/js/jquery-1.9.1.min.js')
    script(src='libs/flat/js/modernizr.js')

body
       
  h1.Pull-left Welcome To Mythoplastis
  .container
    h2
        | Meet John! He is now 65. He has born and raised in Manchester but he moved to Italy in 2002. 
        | Recently he had a severe head injury. As a result of this injury he lost a big part of his memory. 
        | Doctors in Italy are trying to recover his memory. they have spent a lot of time making John telling them whatever he remembers. 
        | But they don't know the places he talks about and describe. They have send us all the things he has said and asks us to identify where these places are.
        | The only way for John to get better is hearing stories about places he has been before. The more story he hears the more the chance will be that he remembers his past life.
        | So by joining Mythoplastis you can help John in two ways:
    h2 1) Help nurses finding places by completeing missions based on John's memory!
    h2 2) Or by telling stories about different places in Manchester.
    button.submit.pull-right START!
    form.5missions(method='POST', action='/misst', name="5missions")
      fieldset(style="border:none;")
        input#umb1.form-control(type='text', name='umb1', style="display: none;", value="x")
        input#umb2.form-control(type='text', name='umb2', style="display: none;", value="x")
        input#umb3.form-control(type='text', name='umb3', style="display: none;", value="x")
        input#circle.form-control(type='text', name='circle', style="display: none;", value="1")
        input#books.form-control(type='text', name='books', style="display: none;", value="1")
        input#flag1.form-control(type='text', name='flag1', style="display: none;", value="x")
        input#flag2.form-control(type='text', name='flag2', style="display: none;", value="x")
        input#flag3.form-control(type='text', name='flag3', style="display: none;", value="x")
    


  script(src='libs/flat/js/jquery.js')
  script(src='libs/flat/js/bootstrap.min.js')
  script.
    $('button.submit').click(function() {
        $('form.5missions').submit();    
    });