html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='libs/coffee/assets/style2.css')
  body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
     .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menuw', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Team
                |                  


    #menuw.container.spacer.about
      h2.text-center.wowload.fadeInUp(style="margin-top: 2%;") Meet John!
      h2.text-center.wowload.fadeInUp(style="margin-top: 2%; font-size: 24px; font-weight: 900;") A year ago John decided to move to Italy. Two weeks ago he went to a ski trip to Alps and he had an accident. 
          | He was hospitalized for a week but despite all the efforts his long-term memory is still not recovered. 
      #contain
        #container-john
          #square.animated.infinite.rotatein
      .col-sm-4.wowload.fadeInRight(style="margin-left: 50%; position: absolute; margin-top:-10%;")
        h4
        |     
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Name: John Miller
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Age: 40
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Occupation: Unkown
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Place of Birth: Manchester
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Education: Unknown
        p(style="margin-top: 0px; margin-bottom: 0px;")
          | Address: Unkown
      a.explore.animated.bounceInDown(href='#menu')
        i.fa.fa-angle-down.fa-4x.fa-3xurl(style="color: white; margin-left: 48%; margin-top: 20vh;")
    #menu.container.spacer.about
      h2.text-center.wowload.fadeInUp He Needs Help!
      h2.text-center.wowload.fadeInUp(style="margin-top: 2%; font-size: 24px; font-weight: 900;") The medical team in Italy is trying to help him remember things. They spend hours telling him stories about Manchester. but unfortunately they themselves don't know Manchester very well. 
        | They have collected and recorded whatever John remembers but they can't figure out what are the places he is talking about. 
   
      #contain2
        #container-nurse
          #square2.animated.infinite.rotatein
      h2.text-center.wowload.fadeInUp(style="margin-top: 20vh; font-size: 24px; font-weight: 900;") Continue to see how you can help him!
      a.explore.animated.bounceInDown(href='#partners')
        i.fa.fa-angle-down.fa-4x.fa-3xurl(style="color: white; margin-left: 48%; margin-top: 1vh;")
    #partners.container.spacer.about
      h2.text-center.wowload.fadeInUp(style="margin-top: -4vh;") This Is How You Can Help Him!
      .row.grid.team.wowload.fadeInUpBig
        .col-sm-4.col-xs-8(style="margin-left: -5%;")
          figure.effect-chico
            img.img-responsive(src='libs/coffee/images/team/john.png', alt='img01')
            |         
            figcaption
              p
                b Completing Missions
                br
                | More details
        |     
        .col-sm-4.col-xs-8(style="margin-left: 1%;")
          figure.effect-chico
            img(src='libs/coffee/images/team/john.png', alt='img01')
            |         
            figcaption
              p
                b Telling Stories
                br
                | More details
        |     
        .col-sm-4.col-xs-8(style="margin-left: 1%;")
          figure.effect-chico
            img(src='libs/coffee/images/team/john.png', alt='img01')
            |         
            figcaption
              p
                b Finding Logos
                br
                | More details
      h2.text-center.wowload.fadeInUp(style="margin-top: 2%; font-size: 24px; font-weight: 900;") Now you know everything you need to know to start!
      .col-md-6
      form.5missions(method='POST', action='/misst', name="5missions")
        fieldset(style="border:none;")
          input#umb1.form-control(type='text', name='umb1', style="display: none;", value="x")
          input#umb2.form-control(type='text', name='umb2', style="display: none;", value="x")
          input#umb3.form-control(type='text', name='umb3', style="display: none;", value="x")
          input#circle.form-control(type='text', name='circle', style="display: none;", value="1")
          input#books.form-control(type='text', name='books', style="display: none;", value="1")
          input#flag1.form-control(type='text', name='flag1', style="display: none;", value="x")
          input#flag2.form-control(type='text', name='flag2', style="display: none;", value="x")
          input#flag3.form-control(type='text', name='flag3', style="display: none;", value="x")
          button#submit.btn.btn-success.loginButton(type='submit', style="height: 35px; padding: 10px 20px 10px 20px; margin-left: 80%; margin-bottom: 10vh;", onclick="showDiv()") Start The Game!   


    script(src='libs/coffee/assets/jquery.js')
    script.
      $('button.loginButton').click( function() {
      $('form.5missions').submit();
      });

    // wow script
    script(src='libs/coffee/assets/wow/wow.min.js')
    // boostrap
    script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
    // jquery mobile
    script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
    script(src='libs/coffee/assets/respond/respond.js')
    // gallery
    script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
    // custom script
    script(src='libs/coffee/assets/script.js')
