html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Home | Flat Theme
    link(href='libs/flat/css/bootstrap.min.css', rel='stylesheet')
    link(href='libs/flat/css/font-awesome.min.css', rel='stylesheet')
    link(href='libs/flat/css/prettyPhoto.css', rel='stylesheet')
    link(href='libs/flat/css/animate.css', rel='stylesheet')
    link(href='libs/flat/css/main.css', rel='stylesheet')
    link(href='libs/twitter/css/style.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='libs/flat/images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='libs/flat/images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='libs/flat/images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='libs/flat/images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='libs/flat/images/ico/apple-touch-icon-57-precomposed.png')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBeYO4WXTpTzPR615h9n6L8Ear4dkNd80Y&sensor=false')
          
    script(type='text/javascript').
      var map;
      var markers = [];
      function initialize() {
      var mapOptions = {
      center: new google.maps.LatLng(53.467216, -2.233701),
      disableDoubleClickZoom: true,
      zoom: 15,
      styles: [{"stylers":[{"saturation":-100},{"gamma":0.8},{"lightness":4},{"visibility":"on"}]},{"featureType":"landscape.natural","stylers":[{"visibility":"on"},{"gamma":0.8},{"lightness":4},{"saturation":-100}]},{"featureType":"poi.park","stylers":[{"visibility":"on"},{"color":"#5dff00"},{"gamma":4.97},{"lightness":-5},{"saturation":100}]}],
      };
      map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
      var layer = new google.maps.visualization.DynamicMapsEngineLayer({
      mapId: '16665525185230662248-09052745394509652502',
      map: map
      });
      var Makepoint = google.maps.event.addListener(map, 'mouseup', function(event) {
      placeMarker(event.latLng);
      google.maps.event.removeListener(Makepoint);
      });
      }
      var contentString =
      '<div class="content">'+
      '<a>If you want to change the location you can easily drag the marker anywhere you want. If the location is fine click continue to submit your story</a>'+
      '<div class="col-sm-offset-1 col-sm-9">'+
      '<br>'+
      '<button type="Register" href="#Continue" data-toggle="modal" class="btn btn-success "> Continue</button>'+
      '</div>'+
      '</div>'+
      '</div>';
      var infowindow = new google.maps.InfoWindow({
      content: contentString
      });
      var image = 'libs/flat/images/MonthMission1/tree.gif';
      function placeMarker(location) {
      var marker = new google.maps.Marker({
      position: location,
      draggable:true,
      animation:google.maps.Animation.DROP,
      map: map,
      icon: image
      });
      markers.push(marker);
      // Sets the map on all markers in the array.
      function setAllMap(map) {
      for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
      }
      }
      google.maps.event.addListener(marker, 'click', function() {
      document.getElementById("place").value = marker.position;
      infowindow.open(map,marker);
      });
      google.maps.event.addListener(marker, 'click', toggleBounce);
      }
      function toggleBounce() {
      if (marker.getAnimation() != null) {
      marker.setAnimation(null);
      } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);

  body

    section#main-slider.no-margin
      #myCarousel.carousel.slide.wet-asphalt(data-interval='false')
        .carousel-inner
          .item.active(style='background-image: url(libs/flat/images/MonthMission1/pg1.jpg);')
          .item(style='background-image: url(libs/flat/images/MonthMission1/4.jpg);')
            .container
              .row
                .col-sm-6
                  .carousel-content.centered
                    h2.animation.animated-item-1(style='font-weight: bold;') ... AND THE CUTEST TREE OF AUTUMN 2014 AWARD GOES TO...
                    p.animation.animated-item-2(style='font-size: 16px; color: white; text-align: justify;')
                      | Autumn is the season of nice trees and cute spaces. Do you have any favourite autumn tree? Is there any space you would love to spend time in? Send us its picture and tell us where it is. Tweet the picture with the #leafymcr hashtag or leave a link to the photo here. Don't forget to tell us where it is otherwise we can't give the tree its medal!
                    textarea#textarea.form-control(name='textarea') Tell us about the tree
                    br
                    textarea#linkarea.form-control(name='textarea') Paste the link to the photo here ...
                    a.btn.btn-md.animation.animated-item-3(href='#') Give an Award!
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .centered
                    .embed-container
                      #map-canvas

          .item(style='background-image: url(libs/flat/images/MonthMission1/pg2.jpg); overflow: scroll;')
            .container
              .row
                .col-sm-6
                  .carousel-content
                      div#example3
      a.prev.hidden-xs(data-slide='prev', href='#myCarousel') ‹
      a.next.hidden-xs(data-slide='next', href='#myCarousel') ›


  script(src='libs/flat/js/jquery.js')
  script
    $('.carousel').carousel()
  script(src='libs/flat/js/bootstrap.min.js')
  script(src='libs/flat/js/main.js')
  script(type='text/javascript', src='libs/twitter/js/twitterFetcher_min.js')
  script(type='text/javascript', src='libs/twitter/js/twitterFetcher.js')
  script(type='text/javascript', src='libs/twitter/js/exampleUsage.js')


