html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Circle Hover Effects with CSS Transitions
    meta(name='description', content='Circle Hover Effects with CSS Transitions')
    meta(name='keywords', content='circle, border-radius, hover, css3, transition, image, thumbnail, effect, 3d')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/demo.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/common.css')
    link(rel='stylesheet', type='text/css', href='libs/circle/css/style6.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')
  body
    .container

      header
        h1(style="color: #4d4d4a; font-family: Georgia, serif; font-size: 38px; font-weight: bold; margin-top: 1%;")
          |We Give Some Clues; You Find the Logo!
        h2(style="color: #4d4d4a; font-family: Georgia, serif; font-size: 24px; font-weight: bold;") Check out the clues below and tell us where the "Umbrella" logo is.
        .support-note
          span.no-csstransforms CSS transforms are not supported in your browser
          span.no-csstransitions CSS transitions are not supported in your browser
          span.note-ie Sorry, only modern browsers.
      section.main
        ul.ch-grid
          li
            .ch-item.ch-img-2
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-2
                  .ch-info-back
                    h3 COMMUNISM
                    p
                      | One of these gentlemen had lived in Aberdeen House which is very close to our point of interest.
          li
            .ch-item.ch-img-3
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-3
                  .ch-info-back
                    h3 BIG PUB
                    p
                      | If you are student you have definitely been to this pub which is 50 metere away from our POI!
          li
            .ch-item.ch-img-4
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-4
                  .ch-info-back
                    h3 ART GALLERY
                    p
                      | Our POI is just beside one of the University halls with the same name as this building!
          li
            .ch-item.ch-img-1
              .ch-info-wrap
                .ch-info
                  .ch-info-front.ch-img-1
                  .ch-info-back
                    h3 LEMN SISSAY
                    p
                      | The Umbrella logo is below the rain poem on the wall! look for it on walls of Manchester.

      .col-md-8(style="margin-left: 4%;")  
          h2(style="color: #4d4d4a; font-family: Georgia, serif; font-size: 24px; font-weight: bold;") Did You Find the "Umbrella" logo?! 
      .col-md-4(style="margin-left: 4%;")  
          h2(style="color: #4d4d4a; font-family: Georgia, serif; font-size: 16px; font-weight: bold;") We Need to Attach Three Words to It! Words Which Best Describe This Location! If any of your words matches top 3 popular words others have submitted then you will gain extra points for that!

          input#location.form-control(type="text", placeholder="Word #1")
          input#location.form-control(type="text", placeholder="Word #2")
          input#location.form-control(type="text", placeholder="Word #3")
