html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='libs/coffee/assets/style2.css')
    //- script(src='libs/flat/js/jquery-1.9.1.min.js')
    script(src='libs/flat/js/modernizr.js')
    link(rel='stylesheet', href='assets/css/7.css')
    link(rel='stylesheet', href='libs/coffee/assets/style.css')
    link(rel='stylesheet', type='text/css', href='assets/css/flag.css')     

    script(type='text/javascript', src='libs/circle/js/modernizr.custom.79639.js')

  body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
      .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menuw', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Partners
                |                  

      h1#1.text-center.wowload.fadeInUp(style="margin-top: 8%; font-weight: bold; font-size: 38px;") JOHN'S IDENTITY
      h4#2.text-center.wowload.fadeInUp(style="margin-top: 0%; margin-bottom: 0%;") We finally managed unlock John's ipad. we found this picture in his laptop. 
      h4#3.text-center.wowload.fadeInUp(style="margin-top: 0%; margin-bottom: 0%;") Let us were in Manchester this can be! 
      .screen#screen(style="margin-left: 23%; margin-top: 5%;")
              .glitch#3(style="margin-left: -30%; margin-top: -30%;")        
                  span
                    img#foot(src="libs/Circle/images/foot.png")
              .glitch#4(style="margin-left: -60%; margin-top: 30%;")        
                  span
                    img#bar(src="libs/Circle/images/bar.png")
              .glitch#5(style="margin-left: 60%; margin-top: 30%;")        
                  span
                    img#societies(src="libs/Circle/images/societies.png")
              .glitch#6(style="margin-left: 10%; margin-top: -30%;")        
                  span
                    img#biko(src="libs/Circle/images/biko.png")
              .glitch#7(style="margin-left: 30%; margin-top: 15%;")   
              .laptop#laptop


  script(src='libs/flat/js/jquery.js')
  script(src='libs/coffee/assets/wow/wow.min.js')
    // boostrap
  script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
    // jquery mobile
  script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
  script(src='libs/coffee/assets/respond/respond.js')
    // gallery
  script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
    // custom script
  script(src='libs/coffee/assets/script.js')
