html(lang='en')
head
    title LINK - Agency Theme
    link(href='libs/link/css/bootstrap.css', rel='stylesheet')
    link(href='libs/link/css/Story.css', rel='stylesheet')
    link(href='libs/link/css/font-awesome.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='libs/link/js/modernizr.custom.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBeYO4WXTpTzPR615h9n6L8Ear4dkNd80Y&sensor=false')
    script.
      var counter = 0;

    script.
      function initialize() {
      var map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: new google.maps.LatLng(53.467216, -2.233701),
      zoom: 15,
      styles: [{"stylers":[{"saturation":-100},{"gamma":0.8},{"lightness":4},{"visibility":"on"}]},{"featureType":"landscape.natural","stylers":[{"visibility":"on"},{"gamma":0.8},{"lightness":4},{"saturation":-100}]},{"featureType":"poi.park","stylers":[{"visibility":"on"},{"color":"#5dff00"},{"gamma":4.97},{"lightness":-5},{"saturation":100}]}],
      });
      var markers = [];
      var loc = !{JSON.stringify(latlng)};
      text = !{JSON.stringify(text)};
      title = !{JSON.stringify(hashtag)};
      author = !{JSON.stringify(author)};

      for (var i = 0; i <loc.length; i++) {
      var mylocation = loc[i];
      var lat = mylocation.replace(/^\"\(([0-9-.]*),.*/g, "$1");
      var lng = mylocation.replace(/.*,\s*([0-9-.]*)\)\"$/g, "$1");
      var latLng = new google.maps.LatLng(lat, lng);
      story = text[i];
      titles = title[i];
      authors = author[i];

      var marker = new google.maps.Marker({
      map: map,
      position: latLng,
      customInfo: story,
      mytitle: titles,
      myauthor: authors,
      });

      google.maps.event.addListener(marker, 'click', function() {

      $("body").append(
        '<ul class="grid effect-2" id="grid">'+
        '<div class="col-md-4">'+
         '<div class="story" data-toggle="modal" data-target= "#mymodal">'+
         '<a name="title" style="color: #0A2A0A; font-size:22px; font-weight: bold; font-family: \'Abril+Fatface\', serif;">'+this.mytitle+'</a>'+ 
         '<hr class="colorgraph"></hr>'+
         '<a name="author" style="color: #0B6138; font-size:14px; font-family: \'Abril+Fatface\', serif;"> by '+this.myauthor+'</a>'+ '<br>'+
         '<a name="text" style="color: #0A2A0A; font-size:16px; font-family: \'Abril+Fatface\', serif;">'+this.customInfo+'</a>'+
         '</div>'+
         '</ul>'+
         '</div>'+
         '</div>'+
        '<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">'+
        '<div class="modal-dialog">'+
        '<div class="modal-content">'+
        '<div class="modal-header">'+
        '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
        '<h4 class="modal-title" id="myModalLabel" style="color: #0A2A0A; font-size:22px; font-weight: bold; font-family: \'Abril+Fatface\', serif;">'+this.mytitle+'</h4>'+
        '</div>'+
        '<div class="modal-body">'+
        '<a name="author" style="color: #0B6138; font-size:14px; font-family: \'Abril+Fatface\', serif;"> by '+this.myauthor+'</a>'+ '<br>'+
        '<a name="text" style="color: #0A2A0A; font-size:16px; font-family: \'Abril+Fatface\', serif;">'+this.customInfo+'</a>'+
        '</div>'+
        '<hr class="colorgraph"></hr>'+
        '<a name="comment" class="similar" style="color: #0B6138; font-size:12px; font-family: \'Abril+Fatface\', serif;">Have a Similar Story? Click Here</a>'+'<br>'+
        '<a class="like" style="color: #0B6138; font-size:12px; font-family: \'Abril+Fatface\', serif;">Do you like the story? Give writer a Mytho Bee</a>'+
        '<input type="image" name="submit" class="like" value="submit" src="../../../assets/img/ssff2.png" />'+
        '<br></br>'+
        '<hr class="colorgraph"></hr>'+
        '<form class="form-horizontal subcomment" method="POST" action="/here">'+
        '<fieldset>'+
        '<div class="form-group">'+
        '<label class="col-md-6 control-label pull-left" for="comment" style="color: black; font-size:12px; font-family: \'Abril+Fatface\', serif;">Tell Us Your Similar Story</label>'+
        '<div class="col-lg-4">'+                     
        '<textarea class="form-control" id="comment" name="comment">default text</textarea>'+
        '</div>'+
        '</div>'+
        '<div class="modal-footer">'+
        '<button type="button" class=" btn btn-default" data-dismiss="modal">close</button>'+
        '<button type="submit" class="submitcomment btn btn-primary">submit</button>'+
        '</fieldset>'+
        '</form>'+
        '</div>'+
        '</div>'+
        '</div>'+
        '</div>');
      });
      markers.push(marker);
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  




  body
    ul#nav
        li
            a(href='/portfolio') Activity Mode
          li
            a(href='/samples') View Mode
          li
            a(href='/missions') Mission
          li
            a(href='#') Help


    .container
      .row.mt
        .col-lg-8
          h1(style='font-weigth=bold') HERE ARE ALL THE STORIES
        .col-lg-4
          p.pull-right
            br
            button.btn.btn-green(type='button') Start Your Project Now
  


    #portfolio
        .container
          #map-canvas
          br



    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='libs/link/js/bootstrap.min.js')
    script(src='libs/link/js/main.js')
    script(src='libs/link/js/masonry.pkgd.min.js')
    script(src='libs/link/js/imagesloaded.js')
    script(src='libs/link/js/classie.js')
    script(src='libs/link/js/AnimOnScroll.js')
    script.
      new AnimOnScroll(document.getElementById('grid'), {
      minDuration : 0.4,
      maxDuration : 0.7,
      viewportFactor : 0.2
      });
    script.
      $('button.submitcomment').click( function() {
      $('form.subcomment').submit();
      $('#mymodal').modal('hide');
      });
