html
  head
    html(lang='en')
      head
        title Test
        link(href='libs/link/css/bootstrap.css', rel='stylesheet')
        link(href='libs/link/css/main.css', rel='stylesheet')
        link(href='libs/link/css/font-awesome.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
        title test
      body
        button.btn.btn-info Click Here!

      script(src='libs/link/js/modernizr.custom.js')
      script(src='https://code.jquery.com/jquery-1.10.2.min.js')
      script(src='libs/link/js/bootstrap.min.js')
      script(src='libs/link/js/main.js')
      script(src='libs/link/js/masonry.pkgd.min.js')
      script(src='libs/link/js/imagesloaded.js')
      script(src='libs/link/js/classie.js')
      script(src='libs/link/js/AnimOnScroll.js')

script.
    $('button').click( function() {
      for (var i = 0; i <2; i++) {
      var loc = !{JSON.stringify(latlng)};
      var mylocation = loc[i];
      var lat = mylocation.replace(/^\"\(([0-9-.]*),.*/g, "$1");
      var lng = mylocation.replace(/.*,\s*([0-9-.]*)\)\"$/g, "$1");
      alert(lat);
      }
      });
      