html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title MYTHOPLASTIS
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:600', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/coffee/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/animate.css')
    link(rel='stylesheet', href='libs/coffee/assets/animate/set.css')
    link(rel='stylesheet', href='assets/css/magic.min.css')
    link(rel='stylesheet', href='assets/css/magic.css')
    link(rel='stylesheet', href='libs/coffee/assets/gallery/blueimp-gallery.min.css')
    link(rel='shortcut icon', href='images/favicons.ico', type='image/x-icon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='libs/coffee/assets/style2.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.js') 
    script(type='text/javascript', src='libs/jquery-ui-1.11.2/jquery-ui.min.css') 

    link(rel='stylesheet', type='text/css', href='assets/css/7.css') 
  body
    .topbar.animated.fadeInLeftBig
    // Header Starts
    .navbar-wrapper
      .container
        #top-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              // Logo Starts
              a.navbar-brand(href='#home')
                img(src='assets/img/letter2.png', alt='logo', style="margin-top: -5%;")
              // #Logo Ends
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                |                 
                span.icon-bar
                |                 
                span.icon-bar
                |                 
                span.icon-bar
            // Nav Starts
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right.scroll
                li.active
                  a(href='#home') Home
                |                  
                li
                  a(href='#menuw', style="color: #ccb117;") Join Us/Login
                |                  
                li
                  a(href='#foods') Overview
                |                  
                li
                  a(href='#partners') Partners
                |                  
      h1.text-center.wowload.fadeInUp(style="margin-top: 8%; font-weight: bold; font-size: 38px;") Brilliant! You Did a Great Job. 
      h1.text-center.wowload.fadeInUp(style="margin-top: 0%; font-weight: bold; font-size: 18px;") We want to send John a picture of the place! How do you want him to see the place? 

      canvas#canvas(width="720", height="390")
      img#background(src="assets/img/rbs.jpg")
      img#ballon(src="assets/img/tent.png")
      img#ballon1(src="assets/img/people.png")
      img#ballon2(src="assets/img/grass.png")
      img#ballon3(src="http://i.imgur.com/6l6v2.png")

      .row(style="margin-top: 60vh; margin-left: 13%; margin-right: 4%;")
        .col-sm-6.wowload.fadeInLeft
        .col-sm-6.wowload.fadeInRight
            .col-md-6(style="margin-left: 23%;")
              button#draw.btn.btn-success.loginButton(type='submit', style="height: 35px; padding: 10px 20px 10px 20px; margin-top: 10vh;", onclick="showDiv()") Draw and send!
    script.
      $(document).ready(function () {
          var d_canvas = document.getElementById('canvas');
          var context = d_canvas.getContext('2d');
          var background = document.getElementById('background');
          var ballon = document.getElementById('ballon')
          var ballon1 = document.getElementById('ballon1')
          var ballon2 = document.getElementById('ballon2')
          var ballon3 = document.getElementById('ballon3')

          context.drawImage(background, 0, 0);

          $('#ballon').draggable();
          $('#ballon1').draggable();
          $('#ballon2').draggable();
          $('#ballon3').draggable();

          $('#canvas').click(function ($event) {
              var $ballon = $('#ballon');
              var $ballon1 = $('#ballon1');
              var $ballon2 = $('#ballon1');
              var $ballon3 = $('#ballon1');

              $ballon.offset({
                  left: $event.pageX - $ballon.width() / 2,
                  top: $event.pageY - $ballon.height() / 2
              });
              $ballon1.offset({
                  left: $event.pageX - $ballon1.width() / 2,
                  top: $event.pageY - $ballon1.height() / 2
              });
              $ballon2.offset({
                  left: $event.pageX - $ballon2.width() / 2,
                  top: $event.pageY - $ballon2.height() / 2
              });              
              $ballon3.offset({
                  left: $event.pageX - $ballon3.width() / 2,
                  top: $event.pageY - $ballon3.height() / 2
              });              
          });
    
          $('#draw').click(function () {
              var $ballon = $('#ballon'),
                  $canvas = $('#canvas');
              var ballon_x = $ballon.offset().left - $canvas.offset().left,
                  ballon_y = $ballon.offset().top - $canvas.offset().top;

              context.drawImage(ballon, ballon_x, ballon_y);
              $ballon.hide();

              var $ballon1 = $('#ballon1'),
                  $canvas = $('#canvas');
              var ballon1_x = $ballon1.offset().left - $canvas.offset().left,
                  ballon1_y = $ballon1.offset().top - $canvas.offset().top;

              context.drawImage(ballon1, ballon1_x, ballon1_y);
              $ballon1.hide();

              var $ballon2 = $('#ballon2'),
                  $canvas = $('#canvas');
              var ballon2_x = $ballon2.offset().left - $canvas.offset().left,
                  ballon2_y = $ballon2.offset().top - $canvas.offset().top;

              context.drawImage(ballon2, ballon2_x, ballon2_y);
              $ballon2.hide();


              var $ballon3 = $('#ballon3'),
                  $canvas = $('#canvas');
              var ballon3_x = $ballon3.offset().left - $canvas.offset().left,
                  ballon3_y = $ballon3.offset().top - $canvas.offset().top;

              context.drawImage(ballon3, ballon3_x, ballon3_y);
              $ballon3.hide();

              $(this).attr('disabled', 'disabled');

          });
      });

  script.
      function showDiv() { 
          window.location.href = '/5points';      
      }

    // wow script
  script(src='libs/coffee/assets/wow/wow.min.js')
    // boostrap
  script(src='libs/coffee/assets/bootstrap/js/bootstrap.js', type='text/javascript')
    // jquery mobile
  script(src='libs/coffee/assets/mobile/touchSwipe.min.js')
  script(src='libs/coffee/assets/respond/respond.js')
    // gallery
  script(src='libs/coffee/assets/gallery/jquery.blueimp-gallery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js')
    // custom script
  script(src='libs/coffee/assets/script.js')
