@import url(http://fonts.googleapis.com/css?family=Francois+One);

html{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Lobster', cursive;
}
#container{
    width: 100%;
    height: 100%;
    background-image:url(../../libs/Circle/images/bg6.jpg);
    background-size: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}
#answer {
    margin-left: 40%;
    margin-top: 70vh;
    width: 20%;
    height: 30px;
    position: absolute;
}

#ballon {
    margin-top: 20vh;
    margin-left: 20%;
    position: absolute;
}
#ballon1 {
    margin-top: 25vh;
    margin-left: 60%;
    position: absolute;
}
#ballon2 {
    margin-top: 30vh;
    margin-left: 35%;
    position: absolute;
}
#ballon3 {
    margin-top: 28vh;
    margin-left: 50%;
    position: absolute;
}

#h1 {
    font-family: 'Francois One', sans-serif;
    text-shadow: 1px 1px #a6a332, 2px 2px #4b442b;
    text-align: center;
    font-style: bold;
    font-weight: 900;
    margin-top: 63vh;
    margin-left: 40%;
    position: absolute;
    color:#4b442b;
}