
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/*body{
  font-size: 20px;
  font-weight: bold;
}*/
.scene {
  position: relative;
  height: 100%;
  background: #1d1f20;
  padding: 20rem;
  text-align: center;
}

.help {
    height: 15vh;
    width: 20%;
    position: absolute;
    margin-left: 0%;
    margin-right: 0;
    margin-top: 5vh;
    background-image: url(../../assets/img/help2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.submit {
  height: 35px; 
  display: none;   
  position: absolute; 
  bottom: 5rem; 
  left: 70%; 
  padding: 7px 20px 20px 20px; 
  z-index: 100; 
  background-color: #b7af31;
  display: none;
}

.help2 {
    height: 15vh;
    width: 20%;
    position: absolute;
    margin-left: 80%;
    margin-right: 0;
    margin-top: 5vh;
    background-image: url(../../assets/img/help.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 25rem;
  height: 25rem;
  background: url("../../assets/img/photo.jpg") 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

.bounceInLeft {
    -webkit-animation-delay: 15s; /* Chrome, Safari, Opera */
    animation-delay: 15s;
}

.bounceInRight {
    -webkit-animation-delay: 20s; /* Chrome, Safari, Opera */
    animation-delay: 20s;
}