@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	width:100%;
	height: 100%;
	overflow: hidden;
  font-family: 'Lobster', cursive;
	/*font-family: mpact, Charcoal, sans-serif;*/
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px #212121, 2px 2px #727272;
}

html{
    background-image: url('../../libs/Circle/images/bg-circle.jpg');
}
canvas{ 
  margin: 0px; 
  padding: 0px; 
  width: 100%;
  position: absolute;
  height: 95%;
  /*background-image: url('../../libs/Circle/images/words.jpg');*/
}
#submit {
  margin-left: 45%; 
  margin-top:1%; 
  width: 200px; 
  border-radius: 5px; 
  background-color: #c6af28; 
  height: 30px; 
  border: none; 
  display: none;
}
#umb1 {
  display: none; 
  padding-left: 5px; 
  border-radius:5px; 
  margin-right:1%; 
  margin-left: 39%; 
  width: 250px; 
  height: 30px;
}
#umb2 {
  display: none; 
  padding-left: 5px; 
  border-radius:5px; 
  margin-right:1%; 
  margin-left: 39%; 
  width: 250px; 
  height: 30px;
}
#umb3 {
  display: none; 
  padding-left: 5px; 
  border-radius:5px; 
  margin-right:1%; 
  margin-left: 39%; 
  width: 250px; 
  height: 30px;
}

h1 {
  margin-left: 5%; 
  margin-top:5%;
  color: white ;
  text-align: center;
  line-height: 20px;
  -moz-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-webkit-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-o-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
-ms-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  /*-----------------------*/
  text-shadow: 1px 1px #737070, 2px 2px #737070, 3px 3px #88760f, 4px 4px #88760f, 5px 5px #88760f;
  
}

span:nth-child(3), span:nth-child(7) { 
font-size: 45px;
}

span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
  font-family: Lobster;
  font-size: 50px;
}

.btn-radio {
  width: 80%;
}
.img-radio {
  opacity: 0.5;
  margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}
