.circles {
    float: left;
    height: 200px; width: 200px;
    background-color: #eee;
    margin: 0 50px 50px 0;
     
    /*Make it a circle*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*Applying Multiple Background Images*/
#slidingDoors {
    background-image: url('libs/flat/images/puzzle/2.png'), url('libs/flat/images/puzzle/3.png'), url('libs/flat/images/puzzle/4.png');
    background-repeat: no-repeat;
     
    /*Positioning the Background Images*/
    background-position: -100px 0px, 100px 0px, 0px 0px;
    /*Transition Parameters*/
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
 
#slidingDoors:hover {
    background-position: -200px 0px, 200px 0px, 0px 0px;
}